.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  padding-left: 64px;
  padding-top: 30px;
  display: flex;
}

.header__link {
  text-decoration: none;
}

.header__logo {
  width: 228px;
  line-height: 32px;
  top: 30px;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 30px;
  left: 64px;
}


.header__title {
  display: flex;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  align-items: center;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.two-columns {
  width: 80%;
  padding-top: 100px;
  padding-left: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  align-self: flex-start;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.digits {
  display: flex;
}

.table {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.section-table {
  width: 1100px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 80px;
  margin: 0 auto;
  padding-top: 80px;
  position: relative;
}

.section-title {
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0 auto;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  margin: 20px auto 0;
  /* margin: 20px 0 0 0; */
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.section-table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 200px;
}

.section-table__width {
  width: 250px;
}

.feynman {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: start;
  min-height: 890px;
  background-color: #f2f2f2;
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
  /* background-size: 867px 637px; */
}


.feynman__title {
  max-width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin: 100px auto 0;
  text-align: center;
}

.feynman__subtitle {
  z-index: 10;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px auto 0;
}

.feynman__link {
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
}


.kaufman {
  position: relative;
  overflow: hidden;
  padding: 90px 0;
}

.kaufman_theme_dark {
  background-color: #1f1f1f;
}

.kaufman_color_white {
  color: white;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  background-image: url("../images/kaufman-triangle.svg");
  background-size: 877px 877px;
  right: -210px;
  top: 0;
}

.footer {
  color: white;
  padding-bottom: 40px;
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  flex-basis: 711px;
  justify-content: space-around;
  width: 90%;
}

.footer__logo {
  width: 228px;
  line-height: 32px;
  font-size: 25px;
  font-weight: 600;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  align-self: flex-end;
  padding-top: 200px;
  padding-bottom: 18px;
}

.footer__head {
  display: flex;
  flex-direction: column;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  padding-right: 150px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
}

.footer__column-link {
  justify-content: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
  color: white;
  text-decoration: none;
  padding-bottom: 16px;
}

.footer__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column-links {
  list-style-type: none;
}